.filter-btns {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 44px;
  padding: 12px;
  text-align: center;
  background: #fff;
  z-index: 10;
  box-shadow: 0 -2px 6px 0 rgba(0,0,0,.15);
}